<div class="container-fluid main-container" style="display: grid; grid-template-columns: auto 1fr;">
    <div class="right-container p-5 d-flex justify-content-center">
        <div class="form-container">
            <div class="row poppins-regular justify-content-center text-center">
                <div style="margin-top: 50px;">
                    <h4 class="title">修改密碼</h4>
                </div>
                <hr class="col-8">
                <div class="col-8 position-relative">
                    <div class="row form-container" style="margin: auto;">
                        <div class="personal-data">
                            <div class="col-12 m-2">
                                <label class="form-label" for="uName">原密碼:</label>
                                <input type="text" id="pwd" class="border rounded-0 form-control" placeholder="請輸入姓名">
                            </div>
                            <div class="col-12 m-2">
                                <label class="form-label" for="uName">新密碼:</label>
                                <input type="text" id="pwd" class="border rounded-0 form-control" placeholder="請輸入姓名">
                            </div>
                            <div class="col-12 m-2">
                                <label class="form-label" for="uName">確認密碼:</label>
                                <input type="text" id="pwd" class="border rounded-0 form-control" placeholder="請輸入手機">
                            </div>
                            <div class="col-12 m-2 text-center">
                                <button class="send-btn"><span class="btn-text">送出</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section styles{
    <link href="~/Content/member.css" rel="stylesheet" />
}

@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>*@
